{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'about' %}{% endblock %}
{% load static %}
{% block content %}
<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">{% trans 'hi' %}</h1>
      <p class="lead p-1">{% trans 'about_me' %}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="https://steamcommunity.com/id/GG_gergy/" target="blank">
          <img src="{% static 'img/steam.svg' %}" alt="steam" width="55" height="55">
        </a>
        <a href="https://github.com/GGergy/" target="blank">
          <img src="{% static 'img/github.svg' %}" alt="github" width="55" height="55">
        </a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-1 overflow-hidden shadow-lg">
        <img class="rounded-5" src="{% static 'img/about.jpg' %}" alt="about" width="400">
    </div>
  </div>
</div>
{% endblock %}